<mat-form-field style="width:100%;" appearance="fill">
  <mat-label>Besitzer hinzufügen</mat-label>
  <input placeholder="Besitzer hinzufügen" aria-label="Number" matInput [formControl]="autoselectControl" [matAutocomplete]="autoUser">
  <mat-autocomplete #autoUser="matAutocomplete" [displayWith]="displayWithLabel" autoActiveFirstOption="true" (optionSelected)="onChange($event)">
    <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
      {{user.firstName}} {{user.lastName}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
