<mat-expansion-panel [expanded]="false">
  <mat-expansion-panel-header class="right-aligned-header">
    <mat-panel-title>
      Tags
    </mat-panel-title>
    <mat-panel-description>
      <span *ngIf="_selectedTags.length != tags.length">
        <span  *ngFor="let tag of _selectedTags; let isLast=last">{{tag.name}}{{isLast ? '' : ', '}}</span>
      </span>
      <span *ngIf="_selectedTags.length == tags.length">Alle</span>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div>
    <mat-checkbox *ngFor="let tag of tags" color="primary" [checked]= "isChecked(tag)" (change)="onChange($event, tag)" >{{tag.name}}</mat-checkbox>
  </div>
  <button mat-button (click)="selectAll()">Alle auswählen</button>
  <button mat-button (click)="deselectAll()">Alle abwählen</button>
</mat-expansion-panel>
