<mat-spinner class="spinner-center" *ngIf="!tag"></mat-spinner>
<div *ngIf="tag" class="row">
  <h2>Tag {{tag.name}}</h2>

  <div fxLayoutGap="10px" fxLayout="row" fxLayout.xs="column">

    <div fxFlex="50%" fxLayout="column">
      <h3>Eigenschaften</h3>
      <mat-form-field fxFlex appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="tag.name" placeholder="Name"/>
      </mat-form-field>
    </div>

    <div fxFlex="50%">
      <h3>Farbe</h3>
      <app-color-picker [(color)]="tag.color"></app-color-picker>
    </div>

    <footer>
      <mat-toolbar style="display:fixed;bottom:0px;" fxLayout="row" fxLayoutAlign="space-between center" >
        <div class="buttonGroup">
          <button mat-raised-button (click)="goBack()">Zurück</button>
          <button mat-raised-button *ngIf="mode == DetailMode.Edit" (click)="delete()" color="warn">Löschen</button>
        </div>
        <div class="buttonGroup">
          <button mat-raised-button color="primary" (click)="saveAndExit()">Speichern</button>
          <button mat-raised-button [matMenuTriggerFor]="saveAnd">mehr</button>
          <mat-menu #saveAnd="matMenu">
            <button mat-menu-item (click)="saveAndNew()">Speichern und Neu</button>
          </mat-menu>
        </div>
      </mat-toolbar>
    </footer>
  </div>
</div>
