

a {
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  color: white;
}


.mat-toolbar {
  overflow: hidden;
  width: 100%;
}


.table {
  width: 100%;
}


.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
