/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'prismjs/themes/prism.css';

html, body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  padding-bottom: 100px;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

table {
  width: 100%;
}


.spinner-center {
  margin: 0 auto;
  margin-top: 20%;
}


/* Button next to autoselects to add item*/
.add_button {
  margin: 0 5px 21px 5px !important;
  font-size: 30px;
}
.buttonGroup button {
  margin-left: 5px;
  margin-right: 5px;
}

footer {
  height: 100px;
}
footer mat-toolbar {
   position: fixed;
   overflow-x: auto;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
   z-index: 1;
}




.right-aligned-header > .mat-content {
    justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}



.button-row button, .button-row a {
  margin-right: 8px;
}



// Margin for main section
.content {
  margin: 10px;
}



@media(max-width: 800px) {
    .responsive_table {
        overflow-x: auto;
        width: 100%;
    }

    .mat-table {
        // min-width:800px;
    }
}




// TODO remove
.column {
 width: 100%;
 display: flex;
 flex-direction: column;
}
